<%= form_for profile, html: { multipart: true } do |f| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pname,'Character Name:' %><br>
    <%= f.text_field :pname ,class: 'input_field_center'%>
  </div>

  <div class="field">
    <%= f.label :faculty ,'Faculty:'%><br>
    <%= f.select :faculty, [['Applied Sciences','Applied Sciences'],['Arts and Social Sciences','Arts and Social Sciences'],['Beedie School of Business','Beedie School of Business'],
    ['Communication, Art and Technology','Communication, Art and Technology'],['Education', 'Education'],['Environment','Environment'],['Health Sciences','Health Sciences'],['Science','Science']],
    { }, { class: "faculty_select" }%>
  </div>

  <br>
  
  <div class="field">
    <%= f.label :avatar,'Upload avatar: ' %>
    <%= f.file_field :avatar %>
  </div>

  <br>

  <div class="actions">
    <% if profile.new_record? %>
      <%= link_to 'Back' , root_path, class: 'form_link' %><%= f.submit "Create Character",class:"form_button" %>
    <% else %>
      <%= link_to 'Back' , root_path, class: 'form_link' %><%= f.submit "Save Changes",class:"form_button" %>
    <% end %>
  </div>

<% end %>
