<div class="main">
<p id="notice"><%= notice %></p>

<h1><%= @profile.pname %></h1>

<div style="text-align: center">

<%= image_tag @profile.avatar.url(:medium), :size => "200x200" %>

<p><%= @profile.faculty %></p>

<p>
  <%if @profile.current_gpa == 0.0 && @profile.courses.length == 0%>
    <strong>Current GPA:</strong> N/A
  <% else %>
    <strong>Current GPA:</strong>
    <%= @profile.current_gpa.round(2) %>
  <%end%>
</p>

<% if @profile.graduated == false %>
  <p>
    <strong>Year:</strong>
    <%= @profile.year %>
    <meter value="<%= @profile.yearProgress %>" min="0" max="5" style="margin-left: 10px;"></meter>
  </p>
<% else %>
  <p><strong>Graduated!</strong></p>
<% end %>

<p>
  <strong>User:</strong>
  <%= link_to @profile.user.name, @profile.user %>
</p>

<br>

<p>
  <strong>Current Badges:</strong>
</p>

<% @profile.badges.order('progress DESC').each do |b| %>
 <p>
   <%= b.subject %><meter value="<%= b.progress %>" min="0" max="15" style="margin-left: 10px;"></meter>
   <% if b.progress >= 15 %>
      <span>(completed)</span>
   <% end %>
 </p>
<% end %>

<% if @profile.badges.count == 0 %>
  <p>None</p>
<% end %>

<br>

<p>
  <%= link_to 'Show All Courses Taken', course_path( :current_profile_id => @profile.id), class: "profile_form_button_blue" %>
  <span style="padding: 0 10px;"> </span>
  <%= link_to 'Show Badge Progress/Details', badge_path( :current_profile_id => @profile.id), class: "profile_form_button_blue" %>
</p>

<br>

</div>

<p style="text-align: center; margin-top: 30px;">
<%= link_to 'Edit', edit_profile_path(@profile), class: "profile_form_button", style: "margin-right: 20px;" %>
<%= link_to 'Back', user_path( :id => session[:user_id]), class: "profile_form_button" %>
</p>
</div>
