<div class="main">
<p id="notice"><%= notice %></p>

<h1><%= @profile.pname %></h1>

<div style="text-align: center">

<p>
  <strong>Faculty:</strong>
  <%= @profile.faculty %>
</p>

<p>
  <strong>Current GPA:</strong>
  <%= @profile.current_gpa %>
</p>

<p>
  <strong>Number of courses taken:</strong>
  <%= @profile.num_of_courses_taken %>
</p>

<p>
  <strong>Courses taken:</strong> None
  <!--<%= @profile.courses_taken %>-->
</p>

<p>
  <strong>Badges:</strong> None
  <!--<%= @profile.badges %>-->
</p>

<p>
  <strong>User:</strong>
  <%= link_to @profile.user.name, @profile.user %>
</p>

</div>

<p style="text-align: center; margin-top: 30px;">
<%= link_to 'Edit', edit_profile_path(@profile), class: "profile_form_button", style: "margin-right: 20px;" %>
<%= link_to 'Back', user_path( :id => session[:user_id]), class: "profile_form_button" %>
</p>
</div>
