<div class="main">
  <p id="notice"><%= notice %></p>

  <p> This profile's badges: </p>
  <% @profile.badges.each do |b| %>
    <p>
      <strong>Course subject:</strong>
      <%= b.subject %>
    </p>
    <p>
      <strong>Badge complete:</strong>
      <%= b.finished %>
    </p>
    <p>
      <strong>First year courses:</strong>
      <%= b.firstYear %>
    </p>
    <p>
      <strong>Second year courses:</strong>
      <%= b.secondYear %>
    </p>
    <p>
      <strong>Third year courses:</strong>
      <%= b.thirdYear %>
    </p>
    <p>
      <strong>Fourth year courses:</strong>
      <%= b.fourthYear %>
    </p>
    <%= link_to 'Delete', b, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%end%>


</div>