<div class="main">
<p id="notice"><%= notice %></p>

  <p> All badges for this profile are: </p>
  <% @profile.badges.each do |b| %>
    <p>
      <strong>Course subject:</strong>
      <%= b.subject %>
    </p>
    <p>
      <strong>Completed:</strong>
      <%= b.completed %>
    </p>
        <p>
      <strong>Progress:</strong>
      <%= b.progress %>/15
    </p>
    <p>
      <strong>Courses taken for this badge:</strong>
      <% b.courses.each do |c| %>
        <br/>
        <%= c.subject %> <%= c.course_number %> <br/>
        Status: <%= c.status %> <br/>
        Grade: <%= c.grade %> <br/>
        Times taken: <%= c.timesTaken %><br/>
      <%end%>
    </p>
    <%= link_to 'Delete', b, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%end%>


</div>