<script>
  var knowledge = 0;
  var stamina = 10;
  var grade = 4; //is this what we realy want for the starting grade?
  var week = 1;
  var midtermWeek = 5; //decide this randomly, on week 4, 5, or 6
  var midtermDifficulty = 3; //calculate difficulties based on year instead of hard coding them like this
  var finalDifficulty = 6;
  var numberOfProfMoves = 2; //random ones, not including midterm and final
                             //in tis case just tutorial and lecture
  
  //moves the game forward, and ends when it's week 10
  function nextWeek(){
    week++;
    if (week==10){
      endClass();
    }
    else profTurn();
    display_info();
  }
  
  //ends the course
  //I disabled the buttons since that was the most obvious way to stop the game
  //Later on we need to add a button that sends the user to their profile page
  //while also sending the data of the completed course to their profile
    //right now we can't leave this page "normally"
  function endClass(){
    document.getElementById("button1").disabled = true;
    document.getElementById("button2").disabled = true;
    document.getElementById("button3").disabled = true;
    document.getElementById("button4").disabled = true;
    document.getElementById("button5").disabled = true;
    
    var newHeader = "<%= @subject %> <%= @course_number %>";
    newHeader = newHeader.concat(" is comlete!");
    document.getElementById("classStatus").innerHTML = newHeader;
    
    
    //this needs to be rebalanced, it's way to easy to get an A+
    var result = "Grade points for this course: ";
    var finalGrade = grade/2;
    if (finalGrade>4) finalGrade = 4;
    result = result.concat(finalGrade);
    document.getElementById("log3").innerHTML = result;
  }
  
  //does the calculations
  //figure something out for stamina, it can never be 10 this way since the prof
    //acts second and brins it down to 9 whenever the player tries to fill it.
    //Is this somethign we want to "fix"?
  function modifyStats(knowl, stam, grde){
    stamina +=stam;
    knowledge +=knowl;
    grade += grde;
    
    if (knowledge<0) knowledge = 0;
    if (stamina<0) stamina = 0;
    else if (stamina>10) stamina = 10;
    if (grade<0) grade = 0;
  }
  
  //this is coded very similar to the midterm, so these functions need to be combined
  //once we have the database stuff worked out
  function final(){
    var out = document.getElementById("log2");
    var notif = "Time for the final exam!";
    var grde = knowledge - finalDifficulty;
    
    if (stamina<3){
      notif = notif.concat("<br/> You did not have enough stamina, and failed!");
      grade -=finalDifficulty;
      stamina = 0;
      notif = addInfo(notif, 0, 2, -finalDifficulty);
      
    }
    else{
      notif = addInfo(notif, 0, 2, grde);
      stamina -= 2;
      grade += grde;
    }
    out.innerHTML = notif;
  }
  
   //prof decides what to do
    //(can only use Tutorial and Lecture as random skills at the moment)
  function profTurn(){
    if (week == midtermWeek){
      midterm();
      return;
    }
    else if (week == 10){
      final();
    }
    else{
      var move = Math.floor((Math.random())*numberOfProfMoves);
      if (move==0){
        profMove("Tutorial", 0, -1, 1);
      }
      else{
        profMove("Lecture", 1, -1, 0);
      }
      var out = document.getElementById("log2");
    }
  }
  
  //prof does their random move
  function profMove(move, knowl, stam, grde){
    var out = document.getElementById("log2");
    var notif = "<%= @instructor_name %>";
    notif = notif.concat(" used ");
    notif = notif.concat(move);
    notif = notif.concat("!");
    
    if (stam<0){
      if (stamina+stam<0){
        notif = notif.concat("<br/> you recieved no benefit because your stamina was too low!");
        return;
      }
    }
    
    notif = addInfo(notif, knowl, stam, grde)
    out.innerHTML = notif;
    
    modifyStats(knowl, stam, grde)
    
  }
  
  function midterm(){
    var out = document.getElementById("log2");
    var notif = "Time for the midterm!";
    var grde = knowledge - midtermDifficulty;
    
    if (stamina<2){
      notif = notif.concat("<br/> You did not have enough stamina, and failed!");
      grade -=midtermDifficulty;
      stamina = 0;
      notif = addInfo(notif, 0, 2, -midtermDifficulty);
      
    }
    else{
      notif = addInfo(notif, 0, 2, grde);
      stamina -= 2;
      grade += grde;
    }
    out.innerHTML = notif;
    
  }
  
  //puts all the modifiers there for the sake of testing
  //maybe we should take this out later
  function addInfo(string, knowl, stam, grde){
    string = string.concat("<br/> k ");
    string = string.concat(knowl);
    string = string.concat("<br/> s ");
    string = string.concat(stam);
    string = string.concat("<br/> g ");
    string = string.concat(grde);
    return string;
  }
  
  function playerMove(move, knowl, stam, grde){
    
    var out = document.getElementById("log");
    //check if there's enough stamina
    if (stam<0){
      if (stamina+stam<0){
        var stamNotif = "Not enough stamina for ";
        stamNotif = stamNotif.concat(move);
        stamNotif = stamNotif.concat("!");
        out.innerHTML = stamNotif;
        return;
      }
    }
    
    var notif = "<%= @current_profile.pname %>";
    notif = notif.concat(" used ");
    notif = notif.concat(move);
    notif = notif.concat("!");
    notif = addInfo(notif, knowl, stam, grde)
    out.innerHTML = notif;
    
     modifyStats(knowl, stam, grde);
    nextWeek();
  }
  
  //shows the stats at the bottom of the page
  function display_info() {
    var out = document.getElementById("knowledge");
    out.innerHTML = knowledge;
    out = document.getElementById("stamina");
    out.innerHTML = stamina;
    out = document.getElementById("grade");
    out.innerHTML = grade;
    out = document.getElementById("curWeek");
    out.innerHTML = week;
    out = document.getElementById("midterm");
    out.innerHTML = midtermWeek;
    
    var bar = document.getElementById("player_stamina");
    bar.setAttribute("value", String(stamina*10));
  }
  
  function battleStart(){
    var out = document.getElementById("knowledge");
    out.innerHTML = knowledge;
    profTurn();
    display_info();
  }
  
  
  
</script>
<body onload="battleStart()">
<div class="main">
  <h1 id = "classStatus"><%= @subject %> <%= @course_number %> in session!</h1>
  <div class="class_info">
    <p>Instructor: <%= @instructor_name %></p>
    <p>Location: <%= @room_number %></p>
  </div>

  <table id="class_battle" align="center">
    <tr>
      <td style="text-align: center;">
        <%= image_tag @current_profile.avatar.url(:medium), :size => "200x200" %>
        <!-- This is the player's stamina bar -->
        <!-- Change the value of the meter using Javascript-->
        <meter value="100" min="0" max="100" id="player_stamina"></meter>

        <p><%= @current_profile.pname %></p>
        <p>GPA: <%= @current_profile.current_gpa %></p>
      </td>
      <td>
        <div style="float: left;">
          <div style="height: 50px; width: 200px">
              <!-- Put the name of the player's skill here -->
              <p id="player_speech">bb</p>
          </div>
          
          <!--Add an onclick method to each of these buttons-->
          <!--All buttons should go to the same onclick method-->
          <!--Each button passes different values as parameters depending on the skill's stats-->
          <div style="margin-left: 20px;">
            <button type="button" id="button1" class="skill_button" onclick = "playerMove('Study', 2, -1, 0)">Study</button>
            <button type="button" id="button2" class="skill_button" onclick = "playerMove('Homework', 1, -2, 1)">Homework</button>
            <button type="button" id="button3" class="skill_button" onclick = "playerMove('All Nighter', 4, -5, 0)">All Nighter</button>
            <button type="button" id="button4" class="skill_button" onclick = "playerMove('Relax', 0, 3, 0)">Relax</button>
            <button type="button" id="button5" class="skill_button" onclick = "playerMove('Sleep In', -1, 5, -1)">Sleep In</button>
          </div>
        </div>
        <div style="float: right; height: 50px; width: 200px">
          <!-- Put the name of the profimon's skill here -->
           <p id="profimon_speech">aa</p>
        </div>
      </td>
      <td style="text-align: center;">
        <!-- We will need to have an image for a profimon and put it here -->
        <!-- Right now, this just uses the character's avatar -->
        <%= image_tag @current_profile.avatar.url(:medium), :size => "200x200" %>

        <!-- This is the profimon's stamina bar-->
        <meter value="100" min="0" max="100" id="profimon_stamina"></meter>

        <p><%= @instructor_name %></p>
      </td>
    </tr>
  </table>
  <!-- this is where the battle "happens", change it when possible-->
  <p id = "log"></p>
  <p id = "log2"></p>
  <p id = "log3"></p>
  <p id = "info">STATS:<br/>
    Knowledge: <bdi id="knowledge"></bdi><br/>
    Stamina: <bdi id="stamina"></bdi><br/>
    Grade: <bdi id="grade"></bdi><br/>
    Current week: <bdi id="curWeek"></bdi><br/>
    Midterm week: <bdi id="midterm"></bdi><br/>
  </p>
</div>
</body>
