<script>
  var knowledge = 0;
  var stamina = 200;
  var grade = 80; // Starting grade is 80%
  var current_knowledge = 0;
  var current_stamina = 0;
  var current_grade = 0;
  var profimon_stamina = 200;
  var week = 1;
  var midtermWeek = 5; // Midterm will be in Week 4, 5, 6, or 7
  var courseDifficulty = 2;

  //moves the game forward, and ends after 10 weeks
  function nextWeek(){
    week += 1;
    display_info();
    if (week == 11){
      endClass();
    }
  }

  function getResult(grade) {
    document.getElementById("course_grade").value = grade;
  }

  //ends the course
  function endClass(){
    document.getElementById("skill_button1").disabled = true;
    document.getElementById("skill_button2").disabled = true;
    document.getElementById("skill_button3").disabled = true;
    document.getElementById("skill_button4").disabled = true;
    document.getElementById("skill_button5").disabled = true;
    document.getElementById("skill_button6").disabled = true;
    document.getElementById("finish_battle").style.visibility = "visible";
    var newHeader = "<%= @subject %> <%= @course_number %>";
    newHeader = newHeader.concat(" is complete!");
    document.getElementById("classStatus").innerHTML = newHeader;
    var result = "Grade points for this course: ";
    var finalGrade = grade / 25;
    if (finalGrade>4) finalGrade = 4;
    result = result.concat(finalGrade);
    document.getElementById("log").innerHTML = result;
    getResult(finalGrade);

  }

//sets the desired grade for the sale pf testing
//1=A
//2=B
//3=F
function setGrade(mark){
  if (mark == 1){
    grade = 100;
     var finalGrade = grade / 25;
    getResult(finalGrade);
  }
  if (mark == 2){
    grade = 80;
     var finalGrade = grade / 25;
    getResult(finalGrade);
  }
  if (mark == 3){
    grade = 0;
    var finalGrade = grade / 25;
    getResult(finalGrade);
  }
  document.getElementById("finish_battle").style.visibility = "visible";
}

  //does the calculations
  function modifyStats(){
    stamina -= current_stamina;
    knowledge += current_knowledge / 10;
    knowledge = Math.round(knowledge);
    grade += current_grade;
    if (stamina < 0) stamina = 0;
    else if (stamina > 200) stamina = 200;
    if (grade < 0) grade = 0;
  }

  //this is coded very similar to the midterm, so these functions need to be combined
  //once we have the database stuff worked out
  function final(){
    profMove("Time for the final exam!", 150, 0, 0);
  }

   //prof decides what to do
  function profTurn(){
    if (week == midtermWeek){
      midterm();
      return;
    }
    else if (week == 10){
      final();
    }
    else if (profimon_stamina == 0){
      profMove("Skip Class", 0, 0, 0);
    }
    else {
      if (week == 1)
        profMove("<%= @prof_skill1.name %>", <%= @prof_skill1.knowledge %>, <%= @prof_skill1.homework %>, <%= @prof_skill1.stamina %>);
      else if (week == 2)
        profMove("<%= @prof_skill2.name %>", <%= @prof_skill2.knowledge %>, <%= @prof_skill2.homework %>, <%= @prof_skill2.stamina %>);
      else if (week == 3)
        profMove("<%= @prof_skill3.name %>", <%= @prof_skill3.knowledge %>, <%= @prof_skill3.homework %>, <%= @prof_skill3.stamina %>);
      else if (week == 4)
        profMove("<%= @prof_skill4.name %>", <%= @prof_skill4.knowledge %>, <%= @prof_skill4.homework %>, <%= @prof_skill4.stamina %>);
      else if (week == 5)
        profMove("<%= @prof_skill5.name %>", <%= @prof_skill5.knowledge %>, <%= @prof_skill5.homework %>, <%= @prof_skill5.stamina %>);
      else if (week == 6)
        profMove("<%= @prof_skill6.name %>", <%= @prof_skill6.knowledge %>, <%= @prof_skill6.homework %>, <%= @prof_skill6.stamina %>);
      else if (week == 7)
        profMove("<%= @prof_skill7.name %>", <%= @prof_skill7.knowledge %>, <%= @prof_skill7.homework %>, <%= @prof_skill7.stamina %>);
      else if (week == 8)
        profMove("<%= @prof_skill8.name %>", <%= @prof_skill8.knowledge %>, <%= @prof_skill8.homework %>, <%= @prof_skill8.stamina %>);
      else if (week == 9)
        profMove("<%= @prof_skill9.name %>", <%= @prof_skill9.knowledge %>, <%= @prof_skill9.homework %>, <%= @prof_skill9.stamina %>);
      else
        profMove("<%= @prof_skill0.name %>", <%= @prof_skill0.knowledge %>, <%= @prof_skill0.homework %>, <%= @prof_skill0.stamina %>);
      // var out = document.getElementById("log2");
    }
  }

  //prof does their random move
  function profMove(move, move_knowledge, move_homework, move_stamina){
    var out = document.getElementById("profimon_speech");
    var notif = "<%= @instructor_name %>";
    notif = notif.concat(" used ");
    notif = notif.concat(move);
    notif = notif.concat("!");
    out.innerHTML = notif;
    // Update profimon stamina bar
    var pstamina = document.getElementById("profimon_stamina");
    profimon_stamina -= move_stamina;
    if (profimon_stamina < 0)
      profimon_stamina = 0;
    pstamina.setAttribute("value", String(profimon_stamina));
    var profimon_stamina_text = document.getElementById("profimon_stamina_text");
    profimon_stamina_text.innerHTML = String(profimon_stamina) + "/200";
    var temp_knowledge = current_knowledge + knowledge - move_knowledge;
    if (temp_knowledge > 5)
      temp_knowledge = 5;
    var temp_homework = current_homework - move_homework;
    if (temp_homework > 5)
      temp_homework = 5;
    current_grade = Math.floor((temp_knowledge + temp_homework + 30) / 4 - (1.2 * courseDifficulty));
    current_grade += Math.floor((Math.random() * 6) - 3);
    if (current_grade > 10 && Math.random() > 0.04)
      current_grade = 10;

    modifyStats();
  }

  function midterm(){
    profMove("Time for the midterm!", 110, 10, 0);
  }

  function playerMove(move, move_knowledge, move_homework, move_stamina){
    var out = document.getElementById("player_speech");
    // Clear profimon's speech
    var pspeech = document.getElementById("profimon_speech");
    pspeech.innerHTML = "";
    //check if there's enough stamina
    if (stamina - move_stamina < 0){
      var stamNotif = "Not enough stamina for ";
      stamNotif = stamNotif.concat(move);
      stamNotif = stamNotif.concat("!");
      out.innerHTML = stamNotif;
      return;
    }
    // Update current stat variables
    current_knowledge = move_knowledge + Math.floor((Math.random() * 11) - 5);
    current_homework = move_homework + Math.floor((Math.random() * 11) - 5);
    current_stamina = move_stamina;
    if (current_knowledge < 0) {
      current_knowledge = 0;
    }
    if (current_homework < 0) {
      current_homework = 0;
    }
    var notif = "<%= @current_profile.pname %>";
    notif = notif.concat(" used ");
    notif = notif.concat(move);
    notif = notif.concat("!");
    // notif = addInfo(notif, current_knowledge, current_homework, current_stamina);
    out.innerHTML = notif;
    setTimeout(profTurn, 1000);
    // modifyStats();
    setTimeout(nextWeek, 1000);
  }

  //shows the stats
  function display_info() {
    out = document.getElementById("current_grade");
    if (week == 1) {
      out.innerHTML = "Current grade: " + grade + "\%";
    }
    else if (current_grade >= 0) {
      out.innerHTML = "Current grade: " + grade + "\% (+" + String(current_grade) + "\%)";
    }
    else {
      out.innerHTML = "Current grade: " + grade + "\% (" + String(current_grade) + "\%)";
    }
    if (week == 1) {
      displayWeek();
    }
    else {
      setTimeout(displayWeek, 1600);
    }
    // out = document.getElementById("midterm");
    // out.innerHTML = midtermWeek;
    var bar = document.getElementById("player_stamina");
    bar.setAttribute("value", String(stamina));
    var player_stamina_text = document.getElementById("player_stamina_text");
    player_stamina_text.innerHTML = String(stamina) + "/200";
  }

  function displayWeek() {
    out = document.getElementById("current_week");
    if (week < 11) {
      out.innerHTML = "Week " + week;
    }
    else {
      out.innerHTML = "Class Over!"
    }
  }

  function battleStart(){
    midtermWeek = Math.floor((Math.random() * 4) + 4);
    courseDifficulty = <%= @course_difficulty %>;
    display_info();
  }

  function open_help_modal() {
    var modal = document.getElementById('modal');
    modal.style.display = "block";
  }

  function close_help_modal() {
    var modal = document.getElementById('modal');
    modal.style.display = "none";
  }

  $(document).ready(function() {
    var audio = $("#mysoundclip")[0];
    console.log(audio);
    audio.play();
  })

  function toggle_sound() {
    var audio = document.getElementById("mysoundclip");
    var audio_button = document.getElementById("toggle_sound");
    if (audio_button.innerHTML == "\uD83D\uDD0A") {
      audio_button.innerHTML = "\uD83D\uDD07";
      audio.pause();
    }
    else {
      audio_button.innerHTML = "\uD83D\uDD0A";
      audio.play();
    }
  }
</script>
<!--End of Javascript-->

<body onload="battleStart()">
<div class="main">
  <% if flash[:notice] %>
		<div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <audio id="mysoundclip" preload="auto">
    <source src="/Baroque_Coffee_House.mp3"></source>
  </audio>

  <button id="open_help" onclick="open_help_modal()">?</button>

  <button id="toggle_sound" onclick="toggle_sound()">&#x1f50a;</button><br>

  <div id="modal" class="modal_background">
    <div class="help_modal">
      <span id="close" onclick="close_help_modal()">×</span>
      <h2>Class has started! It's you against the Profimon!</h2>
      <p>
        The course will last 10 weeks. You start the course with a grade of 80%.
        For each week, pick one of six skills to use against the Profimon.
        The Profimon will counter with his/her own skill, and your current grade will change
        as a result of how well your skill matched up against the Profimon's skill.
      </p>
      <p>
        The catch is that you don't know what the Profimon will do in each week before you
        select your skill for that week. However, you don't want to be sleeping in during
        the midterm or skipping class when there's a pop quiz!
      </p>
      <p style="color: #749;">Tip: Once the Profimon runs out of stamina, the Profimon can only give the midterm, give the final, or skip class.</p>
      <h2>The Skills</h2>
      <p>Hover over a skill button to see the attributes for that skill.</p>
      <ul>
        <li>
          <span style="font-weight: bold; color: #963;">Knowledge:</span>
          This is the knowledge component of the skill. Knowledge is most important when you have pop quizzes, exams, etc.
        </li>
        <li>
          <span style="font-weight: bold; color: #963;">Homework:</span>
          This is the homework component of the skill. Homework is most important when the Profimon gives out assignments or projects.
        </li>
        <li>
          <span style="font-weight: bold; color: #963;">Stamina:</span>
          This is the amount of stamina that the skill uses. A negative amount means that you will gain stamina by using this skill.
        </li>
      </ul>
      <h2>The Midterm</h2>
      <p>The midterm will happen sometime between Week 4 to Week 7 (inclusive). Make sure you study for it!
      <h2>The Final</h2>
      <p>The final will happen in Week 10. You really want to study for this!</p>
      <h2>Receiving a Grade for the Course</h2>
      <p>After the 10 weeks are over, your grade percentage will be multiplied by 4, and this will be your character's grade for the course.
        This value will be counted towards your character's overall GPA.</p>
    </div>
  </div>

  <h1 id = "classStatus"><%= @subject %> <%= @course_number %> in session!</h1>
  <div class="class_info">
    <p>Instructor: <%= @instructor_name %></p>
    <p>Location: <%= @room_number %></p>
    <p id="current_week" style="font-weight: bold; font-size: 1.2em; color: #283;"></p>
  </div>

  <table id="class_battle" align="center">
    <tr>
      <td style="text-align: center;">
        <%= image_tag @current_profile.avatar.url(:medium), :size => "200x200" %>
        <meter value="200" min="0" max="200" id="player_stamina"></meter>
        <p class="meter_indicator" id="player_stamina_text">200/200</p>

        <p><%= @current_profile.pname %></p>
        <p>GPA: <%= @current_profile.current_gpa.round(2) %></p>
      </td>
      <td>
        <div style="float: left;">
          <div style="height: 70px; width: 200px">
              <!-- Put the name of the player's skill here -->
              <p id="player_speech"></p>
          </div>

          <div style="margin-left: 20px;">
            <button type="button" id="skill_button1" class="skill_button" data-tooltip="Knowledge: 100 Homework: 25 Stamina: 60" onclick = "playerMove('Study', 100, 25, 60)">
              Study
            </button>
            <button type="button" id="skill_button2" class="skill_button" data-tooltip="Knowledge: 45 Homework: 100 Stamina: 70" onclick = "playerMove('Do Homework', 45, 100, 70)">
              Do Homework
            </button>
            <button type="button" id="skill_button3" class="skill_button" data-tooltip="Knowledge: 0 Homework: 0 Stamina: -90" onclick = "playerMove('Sleep In', 0, 0, -90)">
              Sleep In
            </button>
            <button type="button" id="skill_button4" class="skill_button" data-tooltip="Knowledge: <%= @user_skill1.knowledge %> Homework: <%= @user_skill1.homework %> Stamina: <%= @user_skill1.stamina %>" onclick = "playerMove('<%= @user_skill1.name %>', <%= @user_skill1.knowledge %>, <%= @user_skill1.homework %>, <%= @user_skill1.stamina %>)">
              <%= @user_skill1.name %>
            </button>
            <button type="button" id="skill_button5" class="skill_button" data-tooltip="Knowledge: <%= @user_skill2.knowledge %> Homework: <%= @user_skill2.homework %> Stamina: <%= @user_skill2.stamina %>" onclick = "playerMove('<%= @user_skill2.name %>', <%= @user_skill2.knowledge %>, <%= @user_skill2.homework %>, <%= @user_skill2.stamina %>)">
              <%= @user_skill2.name %>
            </button>
            <button type="button" id="skill_button6" class="skill_button" data-tooltip="Knowledge: <%= @user_skill3.knowledge %> Homework: <%= @user_skill3.homework %> Stamina: <%= @user_skill3.stamina %>" onclick = "playerMove('<%= @user_skill3.name %>', <%= @user_skill3.knowledge %>, <%= @user_skill3.homework %>, <%= @user_skill3.stamina %>)">
              <%= @user_skill3.name %>
            </button>
          </div>
        </div>
        <div style="float: right; height: 70px; width: 200px">
           <p id="profimon_speech"></p>
        </div>
      </td>
      <td style="text-align: center;">
        <%if @instructor_name == "Chun Chan" %>
          <%= image_tag "profimon_avatar/bobby.jpg", :size => "200x200" %>
        <%else%>
          <%= image_tag "profimon_avatar/#{rand(6)}.jpg", :size => "200x200" %>
        <%end%>

        <!-- This is the profimon's stamina bar-->
        <meter value="200" min="0" max="200" id="profimon_stamina"></meter>
        <p class="meter_indicator" id="profimon_stamina_text">200/200</p>
        <p><%= @instructor_name %></p>
        <h5>Difficulty: <%= @course_difficulty.to_f.round(1) %></h5>
      </td>
    </tr>
  </table>
  <p id = "current_grade" style="text-align: center; font-size: 1.5em; color: #283;"></p>

  <p id = "log" style="text-align: center; font-size: 1.3em; font-weight: bold;"></p>

  <div id = "form">

   <%= form_for @course ,:url => {:controller => "courses", :action => "create"} do |f| %>
    <%=f.hidden_field :subject , :value => params[:subject] %>
    <%=f.hidden_field :course_number , :value => params[:course_number] %>
    <%=f.hidden_field :profile_id , :value => params[:current_profile_id] %>
    <%=f.hidden_field :profimon_name , :value => @instructor_name %>
    <%=f.hidden_field :grade , class: 'input_field_center'%>
    <%=f.submit "Done", class: "form_button", id: "finish_battle", :style => "visibility: hidden;" %>
    <% end %>

  </div>

<button type="button" id="gradeButton" class="skill_button" onclick = "setGrade(1)">Set grades to A</button>
<button type="button" id="gradeButton" class="skill_button" onclick = "setGrade(2)">Set grades to B</button>
<button type="button" id="gradeButton" class="skill_button" onclick = "setGrade(3)">Set grades to F</button>

</div>
</body>
