<!-- Test to see if users were added to database -->
<div class="main">

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

<%= render 'adminnav' %>

<h1>List of Users</h1>

<table id="table_of_users" style="text-align: center; margin: 10px auto;">
  <tr>
    <th width="50px">ID</th>
    <th width="200px">Username</th>
    <th width="300px">Characters</th>
    <th width="150px"></th>
  </tr>

  <% @users.each do |u| %>
    <tr>
      <td><%= u.id %></td>
      <td><%= u.name %></td>
      <td>
        <% @characters = Profile.where(:user_id => u.id) %>
        <% @characters.each do |c| %>
          <%= link_to c.pname, profile_path(c) %>
          <%if c.current_gpa == 0.0 && c.courses.length == 0 %>
				     (GPA: N/A)
				  <% else %>
				     (GPA: <%= c.current_gpa.round(2) %>)
				  <%end%><br>
        <% end %>
      </td>
      <td><%= link_to 'Go to User Page', u %></td>
      <!--<td> link_to 'Edit', edit_user_path(u) </td>-->
      <!-- if u.name != @user.name -->
      <!--<td> link_to 'Delete', u, method: :delete, data: { confirm: 'Are you sure?' }</td>-->
      <!-- end -->
    </tr>
  <% end %>

</table>

<div class="admin_footer_links">
 <%= link_to 'Back', admin_path, :class => "form_link" %>
</div>

</div>
