<!-- Test to see if users were added to database -->
<div class="main">

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

<% @users.each do |u| %>
	<p> <%= u.name %> </p>
	<p> <%= u.id %> </p> 
	<p> <%= u.admin %> </p>
    <!--<p> <%= link_to 'Destroy', u, method: :delete, data: { confirm: 'Are you sure you want to delete this user?' } %></p>-->
    </br>
<%end%>
</div>
