<div class="main">
<% if flash[:notice] %>
		<div class="notice"><%= flash[:notice] %></div>
<% end %>
<p> <%= @user.name %> </p>
<p> <%= @user.email %> </p> <br>

<% @user.profile.each do |profile| %>
	<p>
	  <strong>Profile name:</strong>
	  <%= profile.pname %>
	</p>

	<p>
	  <strong>Faculty:</strong>
	  <%= profile.faculty %>
	</p>

	<p>
	  <strong>Current gpa:</strong>
	  <%= profile.current_gpa %>
	</p>

	<p>
	  <strong>Number of courses taken:</strong>
	  <%= profile.num_of_courses_taken %>
	</p>

	<p>
	  <strong>Courses taken:</strong>
	  <%= profile.courses_taken %>
	</p>

	<p>
	  <strong>Badges:</strong>
	  <%= profile.badges %>
	</p>

	<% end %>


<%= link_to 'Admin' , "/admin/#{@user.id}" %>
<%= link_to 'Create profile', new_profile_path%>
<%= link_to 'Logout' , logout_path , method: :delete %>

</div>
