<script>
	function open_help_modal() {
		var modal = document.getElementById('modal');
		modal.style.display = "block";
	}

	function close_help_modal() {
		var modal = document.getElementById('modal');
		modal.style.display = "none";
	}
</script>

<div class="main">
<% if flash[:notice] %>
		<div class="notice"><%= flash[:notice] %></div>
<% end %>

<button id="open_help" onclick="open_help_modal()">?</button>

<div id="modal" class="modal_background">
  <div class="help_modal">
    <span id="close" onclick="close_help_modal()">×</span>
    <h2>Welcome to your profile page!</h2>
		<p>
			Here, you can see all your characters, along with the current year and GPA of each character.
			Click on a character's name to see detailed information about that character.
		</p>
		<h2>Your Mission</h2>
		<p>
			Your mission is to make your characters graduate from SFU with the highest GPA possible.
			Each character will take courses and battle the Profimons in those courses to obtain a grade for each course.
			Characters graduate once they have completed Year 4 and have earned at least 2 badges.
		</p>
		<h2>Moving Up a Year</h2>
		<p>Characters move up a year (i.e. from 1st year to 2nd year) once they have completed 5 courses in their current year.
		<h2>Badges</h2>
		<p>
			You earn a badge for a subject once you have earned 15 points from taking courses in that subject.
			Points for courses are awarded as follows:
		</p>
		<ul>
			<li>1st year course (100-level): 1 point</li>
			<li>2nd year course (200-level): 2 points</li>
			<li>3rd year course (300-level): 3 points</li>
			<li>4th year course (400-level): 4 points</li>
		</ul>
		<p>Note: You must obtain a minimum of 50% in a course to receive points for that course.</p>
		<h2>Getting Started</h2>
		<p>To start, click <span class="profile_form_button_small_inline">Enroll</span> to enroll a character in a course.</p>
		<p>Don't have a character yet? Click <span class="profile_form_button_inline">New Character</span> to create one!</p>
  </div>
</div>

<h1> Welcome, <%= @user.name %>! </h1>

<table id="table_of_profiles">
	<tbody>
		<tr>
			<% @user.profile.each do |p| %>
				<td>
					<%= link_to (image_tag p.avatar.url(:medium), :size => "100x100"), p%>
					<br>
					<%= link_to p.pname, p, :class => "profile_name_link" %><br>

					<%= p.faculty %><br>
					<% if p.graduated == false %>
						<span style="color: #749;">Year: <%= p.year %></span><br>
					<% else %>
						<span style="color: #A23;">Graduated!</span><br>
					<% end %>
					<%if p.current_gpa == 0.0 && p.courses.length ==0 %>
				     <span style="color: #749;">GPA: N/A</span>
				  <% else %>
				     <span style="color: #749;">GPA:
				    <%= p.current_gpa.round(2) %></span>
				  <%end%><br>
					<!--<%= link_to 'Enroll', classes_select_path(:current_profile => {:id => p.id, :pname => p.pname}), class: "profile_form_button_small" %>-->
					<%= link_to 'Enroll', {:controller => "classes", :action => "select", :profile => p.id }, class: "profile_form_button_small" %>
				</td>
			<% end %>
		</tr>
	</tbody>
</table>


<p style="text-align: center;">
	<%= link_to 'New Character', new_profile_path, class: "profile_form_button" %>
</p>

</div>
