<div class="main">
<% if flash[:notice] %>
		<div class="notice"><%= flash[:notice] %></div>
<% end %>

<h1> Welcome, <%= @user.name %>! </h1>

<table id="table_of_profiles">
	<tbody>
		<tr>
			<% @user.profile.each do |p| %>
				<td>
					<div class="profile_table_cell">
						<%= link_to p.pname, p, :class => "profile_name_link" %><br>
					</div>
					<%= p.faculty %><br>
					GPA: <%= p.current_gpa %><br>
					<!--<%= link_to 'Enroll', classes_select_path(:current_profile => {:id => p.id, :pname => p.pname}), class: "profile_form_button_small" %>-->
					<%= link_to 'Enroll', {:controller => "classes", :action => "select", :profile => p.id }, class: "profile_form_button_small" %>
				</td>
			<% end %>
		</tr>
	</tbody>
</table>


<p style="text-align: center;">
	<%= link_to 'New Character', new_profile_path, class: "profile_form_button" %>
</p>

</div>
