
<script>
	function open_help_modal() {
		var modal = document.getElementById('modal');
		modal.style.display = "block";
	}

	function close_help_modal() {
		var modal = document.getElementById('modal');
		modal.style.display = "none";
	}
</script>

<div class="main">
<% if flash[:notice] %>
		<div class="notice"><%= flash[:notice] %></div>
<% end %>

<button id="open_help" onclick="open_help_modal()">?</button>

<div id="modal" class="modal_background">
  <div class="help_modal">
    <span id="close" onclick="close_help_modal()">×</span>
    <p>Some text in the Modal..</p>
  </div>
</div>

<h1> Welcome, <%= @user.name %>! </h1>

<table id="table_of_profiles">
	<tbody>
		<tr>
			<% @user.profile.each do |p| %>
				<td>
					<%= link_to (image_tag p.avatar.url(:medium), :size => "100x100"), p%>
					<br>
					<%= link_to p.pname, p, :class => "profile_name_link" %><br>

					<%= p.faculty %><br>
					<%if p.current_gpa == 0.0 && p.courses.length ==0 %>
				     GPA: N/A
				  <% else %>
				     GPA:
				    <%= p.current_gpa %>
				  <%end%><br>
					<!--<%= link_to 'Enroll', classes_select_path(:current_profile => {:id => p.id, :pname => p.pname}), class: "profile_form_button_small" %>-->
					<%= link_to 'Enroll', {:controller => "classes", :action => "select", :profile => p.id }, class: "profile_form_button_small" %>
				</td>
			<% end %>
		</tr>
	</tbody>
</table>


<p style="text-align: center;">
	<%= link_to 'New Character', new_profile_path, class: "profile_form_button" %>
</p>

</div>
