<script>
  function display_number() {
    var sselect = document.getElementById("subject_subject_id");
    var nselect = document.getElementById("course_number");
    var sbutton = document.getElementById("enroll_button");

    if (sselect.value == "")
    {
      nselect.innerHTML = "";
      nselect.disabled = true;
      sbutton.disabled = true;
    }
    else {
      /* Code for displaying links */
      var xmlhttp = new XMLHttpRequest();
      var url = "https://www.sfu.ca/bin/wcm/course-outlines?2016/fall/" + sselect.value;

      xmlhttp.onreadystatechange = function() {
        if (xmlhttp.readyState === XMLHttpRequest.DONE && xmlhttp.status === 200) {
          var myArr = JSON.parse(xmlhttp.responseText);

          myFunction(myArr);
        }
      }
      /*empty commit comment
      */
      xmlhttp.open("GET", url, true);
      xmlhttp.send();

      function myFunction(arr) {
          var output = '';
          var i;
          for (i = 0; i < arr.length; i++) {
            if (arr[i].value[0] <= <%= @current_profile.year %> && arr[i].value[0] < 5)
            {
              output += '<option value="' + arr[i].value + '">' + arr[i].value +
              " - " + arr[i].title + "</option>";
            }
          }

          nselect.innerHTML = output;

          if (output == "") {
            nselect.innerHTML = '<option value="">No available courses</option>';
            nselect.disabled = true;
            sbutton.disabled = true;
          }
      }

      nselect.disabled = false;
      sbutton.disabled = false;
    }
  }

  function open_help_modal() {
    var modal = document.getElementById('modal');
    modal.style.display = "block";
  }

  function close_help_modal() {
    var modal = document.getElementById('modal');
    modal.style.display = "none";
  }
</script>


<div class="main">
  <% if flash[:notice] %>
		<div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <button id="open_help" onclick="open_help_modal()">?</button>

  <div id="modal" class="modal_background">
    <div class="help_modal">
      <span id="close" onclick="close_help_modal()">×</span>
      <h2>Select a course for your character!</h2>
      <p>Use the drop-down menus to select a course for your character.</p>
      <p>Note:</p>
      <ul>
        <li>1st year students only have access to 1st year courses</li>
        <li>2nd year students only have access to 1st and 2nd year courses</li>
        <li>3rd year students only have access to 1st, 2nd, and 3rd year courses</li>
        <li>4th year students only have access to 1st, 2nd, 3rd, and 4th year courses</li>
      </ul>
    </div>
  </div>

  <h1>Select a course for <%= @current_profile.pname %>!</h1>
  <%= form_tag({ :action => 'enroll' }) do %>
    <%= label_tag(:subject, "Subject:") %>
    <%= collection_select :subject, :subject_id, @subjects, :to_s, :to_s, options = { prompt: true, class: "subject_select" }, html_options = { onchange: "display_number()" } %>
    <br><br>
    <%= label_tag(:course_number, "Course number:") %>
    <select id="course_number" name="course_number" disabled="true">
    </select>
    <br><br>
    <%= hidden_field(:profile, :id, value: @current_profile.id) %>
    <%= link_to 'Back', user_path( :id => session[:user_id]), class: "profile_form_button_inline", style: "margin-top: 10px; margin-bottom: 10px;" %>
    <%= submit_tag "Enroll", id: "enroll_button", class: "form_button", disabled: true %>
    <br><br>
    <hr>

    <h3> <%= @current_profile.pname %>'s Past Courses</h3>

    <table id="table_of_badges" style="text-align: center; margin: 10px auto;">
      <tr>
        <th width="150px">Subject</th>
        <th width="150px">Badge Progress</th>
        <th width="400px">Courses Taken in This Subject</th>
      </tr>

      <% @current_profile.badges.order('progress DESC').each do |b| %>
        <tr>
          <td><div class="badge_box"><div class="badge_subject"><%= b.subject %></div></div></td>
          <td>
            <% if b.progress >= 15 %>
              Completed!
            <% else %>
              <meter value="<%= b.progress %>" min="0" max="15"></meter><br>
              <span style="font-size: 0.8em;"><%= b.progress%>/15</span>
            <% end %>
          </td>
          <td>
            <% b.courses.order(:course_number).each do |c| %>
              <span style="font-weight: bold; color: #499;"><%= c.subject %> <%= c.course_number %></span> -
              <% if c.status == 1 %>
                Passed
              <% else %>
                Failed
              <% end %>
              (Grade: <%= c.grade %>) <br/>
            <%end%>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
