<div class="main">
<p id="notice"><%= notice %></p>
  <p> All courses taken are: </p>
  <% @profile.courses.each do |c| %>
    <p>
      <strong>Course subject:</strong>
      <%= c.subject %>
    </p>
    <p>
      <strong>Course number:</strong>
      <%= c.course_number %>
    </p>
    <p>
      <strong>Grade earned:</strong>
      <%= c.grade %>
    </p>
    <p>
      <strong>Profimon name:</strong>
      <%= c.profimon_name %>
    </p>
    <%= link_to 'Delete', c, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%end%>


</div>