<!DOCTYPE html>
<html>
  <head>
    <title>Profimon</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-inverse">
    <div class="navbar-class">
      <span style="color: white; font-size: 1.5em; text-decoration: none">PROFIMON</span>
      <div class="navbar-class-right">
       <% if session[:user_id] != nil %>
          <%= link_to 'ABOUT' , session_about_path %>
          <% if session[:admin] == true %>
            <%= link_to 'ADMIN SETTINGS' , admin_path %>
          <% end %>
          <%= link_to 'PROFILE' , user_path( :id => session[:user_id]) %>
          <%= link_to 'LOGOUT' , logout_path , method: :delete %>
        <% end %>
      </div>
    </div>
    </header>
    <%= yield %>
  </body>
</html>
